[user]
	name = sabrina
	email = sabrinaseba18@gmail.com
[credential]
	helper = "!f() { /home/ros2_ws/.vscode-server/bin/e8653663e8840adaf45af01eab5c627a5af81807/node /tmp/vscode-remote-containers-3b844b73-397e-42d5-be1d-87e70885fde7.js git-credential-helper $*; }; f"
